{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whatshot in the City.</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="{% static 'cms/css/cms_main.css' %}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'blogposts' %}">WHATSHOT</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                           <li class="dropdown">
                              <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"><strong>{{ user.username }}</strong><b class="caret"></b></a>
                              <ul class="dropdown-menu">
				  <li><a href="{% url 'blogposts' %}">WEBSITE</a></li>
				  <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
				  <li><a href="{% url 'create' %}">NEW POST</a></li>
                                  <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                                </ul>
                            </li>
                        {% else %}
                          <li><a href="{% url 'login' %}"><strong>LOGIN</strong></a></li>  
			  <li><a href="{% url 'signup' %}"><strong>SIGN UP</strong></a></li>
	              {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container">
	  {% block content %}
	  {% endblock %}
        </div>
	
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
    </html>

