{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% if all_posts_by_user %}
     <table class="table">
       <thead>
	 <tr>
	   <th>POST TITLE</th>
	   <th>BANNER IMAGE</th>
	   <th>CATEGORY</th>
	   <th>LOCATION</th>
	 </tr>
       </thead>
       <tbody>
	 {% for each in all_posts_by_user %}
	 <tr>
	   <th>{{ each.page_title }}</th>
	   <th><img alt="blogImage" height="40" src="{{ MEDIA_URL }}{{ each.image.url }}"/></th>
	   <th>{{ each.category }}</th>
	   <th>{{ each.location }}</th>
	 </tr>
	 {% endfor %}
       </tbody>
     </table>
     {% else %}
     <div class="jumbotron">
       <h2 class="text-center text-capitalize">welcome <span class="dash-user">"{{ user.username }}" </span>you have not made any post.</h2>
     </div>
     {% endif %}
{% endblock %}
